.containerNF3 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.containerNF3 > div:nth-child(2) {
  border: 0.1875rem solid #dfdfdf;
  background-color: #dfdfdf;
  width: 80%;
  margin: auto;
  border-radius: 0.3125rem;
  padding: 1rem;
  text-align: center;
}
